*{
    padding: 0;
    margin: 0;
}
#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
    
}

.characterAnimate{
    animation: jump 500ms;
}
@keyframes jump {
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
#block{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation: blockAnimate 1s infinite linear;
}
@keyframes blockAnimate {
    0%{left: 480px;}
    0%{top: 90px;}
    25%{top: 130px;}
    50%{top: 100px}
    75%{top: 130px;}
    100%{left: -40px;}
    
}
#scoreCard{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
